body{ margin: 0; }

.clickable {
   cursor: pointer;
}
.hoverable {
   cursor: zoom-in;
}

.form-group.query-group {
  float: left;
  max-height: 200px;
  width: 200px;
  padding: 10px;
}

.query-group select[multiple] {
  height: 150px;
}

.query-group ul {
  list-style: none;
  padding-left: 0;
}

.query-group ul li:hover {
  background: #ccc;
}

.query-group ul li.selected {
  background: #8497b7;
}

form.tab-form .tab-pane {
  margin: 20px 20px;
}

.header {
  width: 100%;
  height: 100px;
  margin: 0;
}

.menu {
  position: relative;
  bottom: 0;
  background: #000;
  width: 100%;
  margin: 0;
  height: 40px;
}

.userstuff {
  position: relative;
  top: 0;
  float: right;
}

.menu ul li {
  display: inline;
}
