<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title"></h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div id="chart_div"></div> 
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
  </div>
</script>

<div class="container" ng-controller="extensionsController">
  <div class="row">
    <div class="col-xxlg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Stuff</h4>
        </div>
        <div class="panel-body">
          <label for="ext-type">Type</label>
          <select ng-options="type.id as type.name for type in extension.types" ng-model="extType"></select>
        </div>
      </div>
    </div>
  </div>  
</div>
