    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title"></h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div id="chart_div"></div> 
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
      </div>
    </script>

    <div class="container" ng-controller="VmController" ng-init="init()">
      <div class="row">
        <div class="col-xxlg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Query Parameters</h4>
            </div>
            <div class="panel-body">
              <div class="form-group query-group">
                <input class="form-control" ng-model="fs_search" />
                <select ng-options="item.fs as item.fs for item in featureServers | filter:fs_search" ng-model="selected.servers" class="form-control" multiple ng-change="getContexts()"></select>
              </div>
              <div class="form-group query-group">
                <input class="form-control" ng-model="ctx_search" />
                <select ng-options="item as item.context for item in contexts | filter:ctx_search" ng-model="selected.contexts" multiple class="form-control"></select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxlg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Date Parameters</h4>
            </div>
            <div class="panel-body">
              <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="form-group">
                  <input type="radio" name="dates" value="fixed" ng-model="dateRange" checked />
                  <label for="dates">Fixed Date Range</label>
                </div>
                <div class="form-group">
                  <label for="startDate">Start</label>
                  <input name="startDate" calendar="" ng-model="startDate" />
                </div>
                <div class="form-group">
                  <label for="endDate">End</label>
                  <input name="endDate" calendar="" ng-model="endDate" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="form-group">
                  <input type="radio" name="dates" value="relative" ng-model="dateRange" />
                  <label for="dates">Relative Date Range</label>
                </div>
                <div class="form-group">
                  <label for="relDate">Past:</label>
                  <input ng-model="relDateNum" name="relDate" type="number" min=0 />
                  <select ng-model="relDateFrame">
                    <option value="HOUR">Hours</option>
                    <option value="DAY">Days</option>
                    <option value="WEEK">Weeks</option>
                    <option value="MONTH" selected>Months</option>
                    <option value="YEAR">Years</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxlg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
             <button type="button" class="btn btn-default pull-right" ng-click="open('lg')">Generate&nbsp;<i class="fa fa-cogs"></i></button>
            <span class="pull-left"><h4>Chart Settings</h4></span>
            <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="form-group query-group">
                <label for="chartType">Chart Type</label>
                <select name="chartType" ng-options="item as item.label for item in availableCharts" ng-model="selected.chart" class="form-control"></select>
                <label for="title">Chart Title</label><input name="title" ng-model="chartTitle" class="form-control" />
              </div>
              <div class="form-group query-group">
                <label for="yaxis">Y Axis</label>
                <select name="yaxis" ng-options="item as item.label for item in yaxisItems" ng-model="selected.yaxis" class="form-control"></select>
                <label for="yLabel">Label</label>
                <input name="yLabel" ng-model="yLabel" class="form-control" />
              </div>
              <div class="form-group query-group">
                <label for="xaxis">X Axis</label>
                <select name="xaxis" ng-options="item as item.label for item in xaxisItems" ng-model="selected.xaxis" class="form-control"></select>
                <label for="xLabel">Label</label>
                <input name="xLabel" ng-model="xLabel" class="form-control" />
              </div>
              <div class="form-group query-group">
                <label for="stack">Stack By</label>
                <select name="stack"ng-options="item.name as item.label for item in stackbyItems" ng-model="selected.stackby" class="form-control" multiple></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
