    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title"></h3>
      </div>
      <div class="modal-body" id="modal-body">
        <div id="chart_div"></div> 
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
      </div>
    </script>

    <div class="container" ng-controller="VmController" ng-init="init()">
      <div class="row">
        <div class="col-xxlg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Query Parameters</h4>
            </div>
            <div class="panel-body">
              <div class="form-group query-group">
                <ul class="parameter">
                  <li ng-class="inSelected(server.fs, 'servers') ? 'selected' : null" ng-repeat="server in featureServers track by $index" class="clickable" ng-click="fsSelectionChanged(server.fs)">{{server.fs}}</li>
                </ul>
              </div>
              <div class="form-group query-group">
                <ul class="parameter">
                  <li ng-class="inSelected(context.context, 'contexts') ? 'selected' : null" ng-repeat="context in contexts track by $index" class="clickable" ng-click="ctxSelectionChanged(context.context)">{{context.context}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxlg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Date Parameters</h4>
            </div>
            <div class="panel-body">
              <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="form-group">
                  <input type="radio" name="dates" value="fixed" ng-model="dateRange" checked />
                  <label for="dates">Fixed Date Range</label>
                </div>
                <div class="form-group">
                  <label for="startDate">Start</label>
                  <input name="startDate" calendar="" ng-model="startDate" />
                </div>
                <div class="form-group">
                  <label for="endDate">End</label>
                  <input name="endDate" calendar="" ng-model="endDate" />
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="form-group">
                  <input type="radio" name="dates" value="relative" ng-model="dateRange" />
                  <label for="dates">Relative Date Range</label>
                </div>
                <div class="form-group">
                  <label for="relDate">Past:</label>
                  <input ng-model="relDateNum" name="relDate" type="number" min=0 />
                  <select ng-model="relDateFrame">
                    <option value="HOUR">Hours</option>
                    <option value="DAY">Days</option>
                    <option value="WEEK">Weeks</option>
                    <option value="MONTH" selected>Months</option>
                    <option value="YEAR">Years</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxlg-12 col-xlg-12 col-lg-12 col-md-12 col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading">
             <button type="button" class="btn btn-default pull-right" ng-click="open('lg')">Generate&nbsp;<i class="fa fa-cogs"></i></button>
            <span class="pull-left"><h4>Chart Settings</h4></span>
            <div class="clearfix"></div>
            </div>
            <div class="panel-body">
              <div class="form-group query-group">
                <h4>Chart Type</h4>
                <ul>
                  <li ng-class="{'selected' : isSelected(item, 'chart')}" class="clickable" ng-click="set_selectedChart(item)" ng-repeat="item in availableCharts">{{item}}</li>
                </ul>
              </div>
              <div class="form-group query-group">
                <h4>X Axis</h4>
                <ul>
                  <li ng-class="{'selected' : isSelected(item, 'xaxis')}" class="clickable" ng-click="set_selectedXaxis(item)" ng-repeat="item in xaxisItems">{{item}}</li>
                </ul>
              </div>
              <div class="form-group query-group">
                <h4>Y Axis</h4>
                <ul>
                  <li ng-class="{'selected' : isSelected(item, 'yaxis')}" class="clickable" ng-click="set_selectedYaxis(item)" ng-repeat="item in yaxisItems">{{item}}</li>
                </ul>
              </div>
              <div class="form-group query-group">
                <h4>Stack By</h4>
                <ul>
                  <li ng-class="{'selected' : inSelected(item, 'stackby')}" class="clickable" ng-click="set_selectedStackby(item)" ng-repeat="item in stackbyItems">{{item}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
